wheel
psycopg2
werkzeug
flask
arrow
bootstrap-flask
email_validator
flask-login
flask-migrate
flask-sqlalchemy
flask-httpauth
Flask-Reuploaded # Replaces flask-uploads
flask-wtf
markdown
bleach
bleach-whitelist
python-dotenv
gunicorn
