wheel
psycopg2
werkzeug<1.0.0 # flask-uploads breaks on 1.0.0, will remove when fixed
flask
arrow
bootstrap-flask
flask-login
flask-migrate
flask-sqlalchemy
flask-httpauth
flask-uploads
flask-wtf
markdown
bleach
bleach-whitelist
python-dotenv
gunicorn
