
{% extends "base.html" %}

{% block scripts %}
{{super()}}
<script src="/static/js/initialiseTooltip.min.js" integrity="sha384-dX23tlcG96awOEcssN/7WL2CN6J9qMY+tc4H2g13XLot37bTz1bbwqlg0+1fuXr+" crossorigin="anonymous" defer></script>
{% endblock %}

{% block app_content %}
    <div class="media row mt-3">
        <div class="col-5 col-sm-3">
            <img class="w-100 h-100 border p-0" src="{{ user.avatar_get() }}">
        </div>
        <div class="media-body col-7 col-sm-9">
            <h1><a href="#" class="text-reset text-decoration-none" data-toggle="tooltip" data-placement="top" title="{{ user.username }}">{{ user.name }}</a></h1>
            {% if last_seen %}
                <p>Last seen: <a href="#" class="text-reset text-decoration-none" data-toggle="tooltip" data-placement="top" title="{{ user.last_seen }}">{{ last_seen }}</a></p>
            {% endif %}
            {% if user == current_user %}
                <p><a href="{{ url_for('user.edit_profile', username=current_user.username) }}">Edit your profile</a></p>
            {% endif %}
        </div>
    </div>
    <br>
    <h2>Submissions</h2>
    <div class="list-group list-group-flush">
        {% for submission in submissions %}
            {% include 'users/_submission.html' %}
        {% endfor %}
    </div>
{% endblock %}