
{% extends "base.html" %}

{% block scripts %}
{{super()}}
<script src="/static/js/initialiseTooltip.min.js" integrity="sha384-dX23tlcG96awOEcssN/7WL2CN6J9qMY+tc4H2g13XLot37bTz1bbwqlg0+1fuXr+" crossorigin="anonymous" defer></script>
{% endblock %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px">
                <img height="256px" width="256px" src="{{ user.avatar_get() }}">
            </td>
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if last_seen %}
                    <p>Last seen: <a href="#" class="text-reset text-decoration-none" data-toggle="tooltip" data-placement="top" title="{{ user.last_seen }}">{{ last_seen }}</a></p>
                {% endif %}
                {% if user == current_user %}
                    <p><a href="{{ url_for('user.edit_profile', username=current_user.username) }}">Edit your profile</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    {% for submission in submissions %}
        {% include '_submission.html' %}
    {% endfor %}
{% endblock %}