{% extends "base.html" %}

{% block app_content %}
    <h1>{{ name }}</h1>
    <p>{{ body }}</p>
    <br>
    <p>Reviews:</p>
    {% for review in reviews %}
        <p><a href="{{ url_for('competition.reviewId', comp_id=review.comp_id, cat_id=cat_id, review_id=review.id) }}">{{ review.name }}</a></p>
    {% endfor %}
    <br>
    <p><a href="{{ url_for('competition.reviewCreate', comp_id=comp_id, cat_id=cat_id) }}">Create Review</a></p>
    <p><a href="{{ url_for('competition.compId', comp_id=comp_id) }}">All Categories</a></p>
{% endblock %}