{% extends "base.html" %}

{% block app_content %}
    <h1>{{ competition.name }}</h1>
    <p>{{ competition.body }}</p>
    <br>
    <p>Categories:</p>
    {% for category in categories %}
        <p><a href="{{ url_for('competition.submissions_overview', comp_id=category.comp_id, cat_id=category.id) }}">{{ category.name }}</a></p>
    {% endfor %}
    <br>
    {% if admin %}
        <p><a href="{{ url_for('competition.category_create', comp_id=id) }}">Create Category</a></p>
        <p><a href="{{ url_for('competition.competition_edit', comp_id=id) }}">Edit Competition</a></p>
    {% endif %}
    <p><a href="{{ url_for('competition.competitions_overview') }}">Competitions</a></p>
{% endblock %}