{% extends "base.html" %}

{% block app_content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('competition.competitions_overview') }}">Competitions</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ competition.name }}</li>
        </ol>
    </nav>
    <h1>{{ competition.name }}</h1>
    <p>{{ competition.body }}</p>
    <p class="mb-0">The same submission can enter multiple categories.</p>
    <details>
        <summary>How to do this</summary>
        <div>
            After submitting your submission, go to edit it.
            From their choose the change categories button.
            This gives you a list of all the categories in this competition.
            Select the categories you wish to enter.
        </div>
    </details>
    <br>
    <h4>Categories</h4>
    <div class="list-group list-group-flush">
    {% for category in categories|sort(attribute='name') %}
        <a class="list-group-item list-group-item-action" href="{{ url_for('competition.submissions_overview', comp_id=category.comp_id, cat_id=category.id) }}">
            <p class="mb-1 list-group-object-name">{{ category.name }}</p>
            <small class="text-muted">{{ category.body }}</small>
        </a>
    {% endfor %}
    </div>
    <br>
    {% if admin %}
        <p><a href="{{ url_for('competition.category_create', comp_id=id) }}">Create Category</a></p>
        <p><a href="{{ url_for('competition.competition_edit', comp_id=id) }}">Edit Competition</a></p>
    {% endif %}
{% endblock %}