{% extends "base.html" %}

{% block scripts %}
{{super()}}
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}

{% block app_content %}
    <h1>{{ review.name }}</h1>
    {% if not uploadsCount|int == 0 %}
        <a class="btn btn-secondary" href="{{ url_for('competition.review_files', comp_id=review.comp_id, cat_id=cat_id, review_id=review.id) }}">
            Uploads <span class="badge badge-light">{{ uploadsCount }}</span>
            <span class="sr-only">uploads</span>
        </a>
        <br>
        <br>
    {% endif %}
    {{ body|safe }}
    <div class="row text-muted">
        <div class="col-auto mr-auto">
            <span class="align-middle">Created by
            <a href="{{ url_for('user.user_profile', username=user.username) }}">
                {{ user.username }}
            </a>
            Last Modified: <a href="#" data-toggle="tooltip" data-placement="top" title="{{ review.timestamp }}">{{ humanTime }}</a>
            </span>
        </div>  
        <div class="col-auto">
            <div class="btn-group" role="group" aria-label="Change Review">
                <a href="{{ url_for('competition.review_edit', comp_id=review.comp_id, cat_id=cat_id, review_id=review.id) }}" role="button" class="btn btn-outline-primary btn-sm">Edit</a>
                <a href="{{ url_for('competition.review_upload', comp_id=review.comp_id, cat_id=cat_id, review_id=review.id) }}" role="button" class="btn btn-outline-primary btn-sm">Upload</a>
                <a href="{{ url_for('competition.review_delete', comp_id=review.comp_id, cat_id=cat_id, review_id=review.id) }}" role="button" class="btn btn-outline-danger btn-sm">Delete</a>
        </div>
    </div>
{% endblock %}