{% extends "base.html" %}

{% block styles %}
{{super()}}
<!-- SimpleMDE -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.css" integrity="sha384-rQdIropf4eQBEB9SkNB4xxukYHlkyXJfKYkpVNUQOLizz+d2q0wo7zjVA2XcYSij" crossorigin="anonymous">
{% endblock %}
{% block scripts %}
{{super()}}
<!-- SimpleMDE -->
<script src="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.js" integrity="sha384-83rBTICYr+FwAC+A5t0ZYsWjTcPXibCe/NBSFLAgMPkwHBvIi02EcE9OShMsGCi3" crossorigin="anonymous" async></script>
<script src="/static/js/initialiseSimpleMDE.min.js" integrity="sha384-UaqFLTmSfnRaybf+J9i9rjTSpiB07Clnynva1XZCpuTsj2bNnkHKQHjqtIx22Rkq" crossorigin="anonymous" async defer></script>
{% endblock %}

{% block app_content %}
    <p class="float-right" style="margin-top:1rem">
        <a href="{{ url_for('competition.submission_edit_category', comp_id=comp_id, cat_id=cat_id, sub_id=sub_id) }}">Edit Categories</a>
    </p>
    {% include '_form.html' %}
{% endblock %}