{% extends "base.html" %}

{% block styles %}
{{super()}}
<!-- SimpleMDE -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.css" integrity="sha384-rQdIropf4eQBEB9SkNB4xxukYHlkyXJfKYkpVNUQOLizz+d2q0wo7zjVA2XcYSij" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/simpleMDE.min.css" integrity="sha384-f5ZbAvKyuzP8pWsrOrWy/AQoNaR0hyzW/FaY6N+FLZ/0VHK8LEyngBMpvHqTicV3" crossorigin="anonymous">
{% endblock %}
{% block scripts %}
{{super()}}
<!-- SimpleMDE -->
<script src="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.js" integrity="sha384-83rBTICYr+FwAC+A5t0ZYsWjTcPXibCe/NBSFLAgMPkwHBvIi02EcE9OShMsGCi3" crossorigin="anonymous" async></script>
<script src="/static/js/initialiseSimpleMDE.min.js" integrity="sha384-UaqFLTmSfnRaybf+J9i9rjTSpiB07Clnynva1XZCpuTsj2bNnkHKQHjqtIx22Rkq" crossorigin="anonymous" async defer></script>
{% endblock %}

{% block app_content %}
    <noscript>
        Graphical editor unavailable as javascript is disabled
        <br>
        Markdown formatting is used if you want advance features
    </noscript>
    {% include '_form.html' %}
{% endblock %}