{% extends "base.html" %}

{% block app_content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('competition.competitions_overview') }}">Competitions</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('competition.categories_overview', comp_id=comp_id) }}">{{ comp_name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('competition.submissions_overview', comp_id=comp_id, cat_id=cat_id) }}">{{ cat_name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('competition.submission_page', comp_id=comp_id, cat_id=cat_id, sub_id=sub_id) }}">{{ sub_name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Uploads</li>
        </ol>
    </nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" id="submission-tab" href="{{ url_for('competition.submission_page', comp_id=comp_id, cat_id=cat_id, sub_id=sub_id) }}">
                Submission
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="uploads-tab" href="{{ url_for('competition.submission_files', comp_id=comp_id, cat_id=cat_id, sub_id=sub_id) }}">
                Uploads
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="votes-overview-tab" href="{{ url_for('competition.submission_vote_overviewer', comp_id=comp_id, cat_id=cat_id, sub_id=sub_id) }}">
                Votes Overview
            </a>
        </li>
    </ul>
    <br>
    <h1>Votes Overview</h1>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Score (/10)</th>
            <th scope="col">Comments</th>
            <th scope="col">Reviewer</th>
          </tr>
        </thead>
        <tbody>
            {% for vote in votes %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ vote.score }}</td>
                    <td>{{ vote.comments }}</td>
                    <td><a class="text-reset" href="{{ url_for('user.user_profile', username=vote.username) }}">{{ vote.reviewer_name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}