{% extends "base.html" %}

{% block scripts %}
{{super()}}
<script src="/static/js/initialiseTooltip.min.js" integrity="sha384-dX23tlcG96awOEcssN/7WL2CN6J9qMY+tc4H2g13XLot37bTz1bbwqlg0+1fuXr+" crossorigin="anonymous" defer></script>
{% endblock %}

{% block app_content %}
    <h1>{{ submission.name }}</h1>
    {% if not uploadsCount|int == 0 %}
        <a class="btn btn-secondary" href="{{ url_for('competition.submission_files', comp_id=submission.comp_id, cat_id=cat_id, submission_id=submission.id) }}">
            Uploads <span class="badge badge-light">{{ uploadsCount }}</span>
            <span class="sr-only">uploads</span>
        </a>
        <br>
        <br>
    {% endif %}
    {{ body|safe }}
    <div class="row text-muted">
        <div class="col-auto mr-auto">
            <span class="align-middle">Created by
            <a href="{{ url_for('user.user_profile', username=user.username) }}">
                {{ user.name }}
            </a>
            Last Modified: <a href="#" class="text-reset text-decoration-none" data-toggle="tooltip" data-placement="top" title="{{ submission.timestamp }}">{{ humanTime }}</a>
            </span>
        </div>
        {% if owner|int == 1 %}
        <div class="col-auto">
            <div class="btn-group" role="group" aria-label="Change Submission">
                <a href="{{ url_for('competition.submission_edit', comp_id=submission.comp_id, cat_id=cat_id, submission_id=submission.id) }}" role="button" class="btn btn-outline-primary btn-sm">Edit</a>
                <a href="{{ url_for('competition.submission_upload', comp_id=submission.comp_id, cat_id=cat_id, submission_id=submission.id) }}" role="button" class="btn btn-outline-primary btn-sm">Upload</a>
                <a href="{{ url_for('competition.submission_delete', comp_id=submission.comp_id, cat_id=cat_id, submission_id=submission.id) }}" role="button" class="btn btn-outline-danger btn-sm">Delete</a>
        </div></div>
        {% elif user.reviewer == 1 %}
        <div class="col-auto">
            <div class="btn-group" role="group" aria-label="Vote">
                <a href="{{ url_for('competition.submission_voting', comp_id=submission.comp_id, cat_id=cat_id, submission_id=submission.id) }}" role="button" class="btn btn-outline-primary btn-sm">Vote</a>
        </div></div>
        {% endif %}
    </div>
{% endblock %}