{% extends "base.html" %}

{% block scripts %}
{{super()}}
<script src="/static/js/initialiseTooltip.min.js" integrity="sha384-dX23tlcG96awOEcssN/7WL2CN6J9qMY+tc4H2g13XLot37bTz1bbwqlg0+1fuXr+" crossorigin="anonymous" defer></script>
{% endblock %}

{% block app_content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('competition.competitions_overview') }}">Competitions</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('competition.categories_overview', comp_id=submission.comp_id) }}">{{ comp_name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('competition.submissions_overview', comp_id=submission.comp_id, cat_id=cat_id) }}">{{ cat_name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ submission.name }}</li>
        </ol>
    </nav>
    {% if not uploadsCount|int == 0 %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="submission-tab" href="{{ url_for('competition.submission_page', comp_id=submission.comp_id, cat_id=cat_id, sub_id=submission.id) }}">
                Submission
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="uploads-tab" href="{{ url_for('competition.submission_files', comp_id=submission.comp_id, cat_id=cat_id, sub_id=submission.id) }}">
                Uploads <span class="badge badge-light">{{ uploadsCount }}</span>
            </a>
        </li>
        {% if current_user.admin %}
            <li class="nav-item">
                <a class="nav-link" id="votes-overview-tab" href="{{ url_for('competition.submission_vote_overviewer', comp_id=submission.comp_id, cat_id=cat_id, sub_id=submission.id) }}">
                    Votes Overview
                </a>
            </li>
        {% endif %}
    </ul>
    <br>
    {% endif %}
    <div class="text-center">
        <small><a href="#" class="text-muted text-decoration-none text-uppercase letter-spacing-2" data-toggle="tooltip" data-placement="top" title="{{ submission.timestamp }}">{{ humanTime }}</a></small>
        <h1 class="display-4 text-break">{{ submission.name }}</h1>
        <a class="text-muted text-decoration-none text-uppercase text-uppercase letter-spacing-2" href="{{ url_for('user.user_profile', username=user.username) }}">
            <img class="rounded-circle border mr-2" height="45px" width="45px" src="{{ submission.author.avatar_get() }}" />
            <small>{{ user.name }}</small>
        </a>
    </div>
    <br>
    {{ body|safe }}
    <div class="row text-muted justify-content-center text-lg-center">
        {% if owner %}
        <div class="col">
            <div class="btn-group" role="group" aria-label="Change Submission">
                <a href="{{ url_for('competition.submission_edit', comp_id=submission.comp_id, cat_id=cat_id, sub_id=submission.id) }}" role="button" class="btn btn-outline-primary">Edit</a>
                <a href="{{ url_for('competition.submission_upload', comp_id=submission.comp_id, cat_id=cat_id, sub_id=submission.id) }}" role="button" class="btn btn-outline-primary">Upload</a>
                <a href="{{ url_for('competition.submission_delete', comp_id=submission.comp_id, cat_id=cat_id, sub_id=submission.id) }}" role="button" class="btn btn-outline-danger">Delete</a>
        </div></div>
        {% elif user.reviewer == 1 %}
        <div class="col">
            <div class="btn-group" role="group" aria-label="Vote">
                <a href="{{ url_for('competition.submission_voting', comp_id=submission.comp_id, cat_id=cat_id, sub_id=submission.id) }}" role="button" class="btn btn-outline-primary">Vote</a>
        </div></div>
        {% endif %}
    </div>
{% endblock %}