{% extends "base.html" %}

{% block app_content %}
    <main>
      <h1>Welcome to {{ config['BRAND_NAME'] }} Competition Manager</h1>
      <br>
      <ol class="carousel-indicators">
        {% for image in files %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index - 1}}"
        {% if loop.index == 1 %}
        class="active"
        {% endif %}
        ></li>
        {% endfor %}
      </ol>
      <div id="carouselHome" class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner">
            {% for image in files %}
              <div class="carousel-item
              {% if loop.index == 1 %}
              active
              {% endif %}
              ">
                  <img src="{{ url_for('home.static',filename='img') }}{{ image }}" class="d-block w-100 h-100">
              </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </main>
{% endblock %}
