{% extends "base.html" %}

## background should be placed at files/background.jpg
## to change path change cover.css, minify and update the integrity
{% block body_attribs %}
{{super()}}
background
{% endblock %}

## workaround to avoid using js. browsers prefer first class with override
## to change text colours on the homepage change this (navbar-dark) & text-light
{% block navbar_attribs %}
navbar-dark
{% endblock %}

{% block styles %}
{{super()}}
<!-- Homepage Custom CSS -->
<link rel="stylesheet" href="{{ url_for('home.static',filename='cover.min.css') }}" integrity="sha384-MQZ3CfB3OQnrsYgD1BW6/rBVqusNk/ZxMbT5nJLt2qlFbCZ7u9QG0SeJNA3CIR1L" crossorigin="anonymous"/>
{% endblock %}
navbar-dark 
{% block app_content %}
<div class="row h-100 justify-content-center align-items-center">
    <main role="main" class="inner cover col-md-6 text-center text-light main-text">
        <h1 class="cover-heading">{{ config['BRAND_NAME'] }} Competition Manager</h1>
        <p class="lead">Allows you to view, create & vote on different competitions. Allows submitting the same submission to multiple categories allowing it to be judged seperately. Vote totals are hidden till the end to minimise bias.</p>
        <p class="lead">
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('auth.login') }}" class="left-button btn btn-lg btn-primary">Sign In</a>
                <a href="{{ url_for('auth.register') }}" class="right-button btn btn-lg btn-success">Register</a>
            {% else %}
                <a href="{{ url_for('competition.competitions_overview') }}" class="btn btn-lg btn-primary">View Competitions</a>
            {% endif %}
        </p>
    </main>
</div>
{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container text-white">
        <hr>
        <p class="text-left">&copy; 2019-2020 <a class="text-white" href="https://github.com/LambArchie/Competition-Manager">Competition Manager Authors</a>
        <!-- If you need to attribute image place credits in placeholder below
        <br class="d-xl-none">
        <span class="float-xl-right">
            PLACEHOLDER
        </span>-->
        </p>
    </div>
</footer>
{% endblock %}
