{% extends "base.html" %}

{% block scripts %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/springy/2.8.0/springy.min.js" integrity="sha256-WmPKL3JQrpEu+5WvCq526urQCByODLWxLk4hLTZdzA0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/springy/2.8.0/springyui.min.js" integrity="sha256-p9lwSD4M2dEw39+oiqJdXwnrWKgUPUg63X4fTaA28Ck=" crossorigin="anonymous"></script>
<script>
var graphJSON = {{ json|safe }};

jQuery(function(){
  var graph = new Springy.Graph();
  graph.loadJSON(graphJSON);

  var springy = jQuery('#graph').springy({
    graph: graph
  });
});</script>
{% endblock %}

{% block app_content %}
    <h1>Graphs</h1>
    <canvas id="graph" width="640" height="480"></canvas>
{% endblock %}