{% extends "base.html" %}

{% block scripts %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/springy/2.8.0/springy.min.js" integrity="sha256-WmPKL3JQrpEu+5WvCq526urQCByODLWxLk4hLTZdzA0=" crossorigin="anonymous" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/springy/2.8.0/springyui.min.js" integrity="sha256-p9lwSD4M2dEw39+oiqJdXwnrWKgUPUg63X4fTaA28Ck=" crossorigin="anonymous" async></script>
<script src="/static/js/initialiseGraph.min.js" integrity="sha384-AdLYFGFK9QlXqny4uxK/g0OWTDqHarzBvcCr/UtBFunEwmE8rRe+ymZ3AtmifjJq" crossorigin="anonymous" async defer></script>
{% endblock %}

{% block app_content %}
    <h1 id="title">{{ title }}</h1>
    <noscript>Graph unavailable as javascript is disabled</noscript>
    <canvas id="graph" class="graph-canvas"></canvas>
{% endblock %}