.background {
    background: rgba(0, 0, 0, 0) url('/files/img/background.jpg') repeat fixed center center / cover;
}

.main-text {
    text-shadow: #999 0px 0px 50px;
}

.left-button {
    margin-right: 5px;
}

.right-button {
    margin-left: 5px;
}

.footer-custom {
    text-shadow: 0px 0px 6px rgba(0,0,0,0.7);
}