<table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('user.user_profile', username=review.author.username) }}">
                    <img height="70px" width="70px" src="{{ review.author.avatar_get() }}" />
                </a>
            </td>
            <td>
                <a href="{{ url_for('user.user_profile', username=review.author.username) }}">
                    {{ review.author.username }}
                </a>
                says:
                <br>
                {{ review.body }}
            </td>
        </tr>
    </table>