{% extends 'template.html' %}

{% block title %}
    {% if title %}
    {{ title }} - Competition Manager
    {% else %}
    Welcome to Competition Manager
    {% endif %}
{% endblock %}

{% block body_attribs %}
d-flex flex-column h-100
{% endblock %}

{% block navbar %}
    <header class="mb-auto">
    <nav id="outer-navbar" class="{% block navbar_attribs %}{% endblock %}navbar sticky-top navbar-expand-md navbar-light">
        <a class="navbar-brand" href="{{ url_for('home.index') }}">Competition Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home.index') }}">Home</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('competition.competitions_overview') }}">Competitions</a></li>
                {% if current_user.admin == True %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.admin') }}">Admin</a></li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ current_user.name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('user.user_profile', username=current_user.username) }}">Profile</a>
                        <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    </header>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container text-muted">
            <hr>
            <p>&copy; 2019-2020 <a href="https://github.com/LambArchie/Competition-Manager">Competition Manager Authors</a></p>
        </div>
    </footer>
{% endblock %}

{% block content %}
    <br>
    <div class="container flex-grow-1">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "error" %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% elif category == "info" %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% else %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}