{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %} lang="en-GB" {% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- endblock metas %}

    {% block scripts_top %}
    <!-- Scripts -->
    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    {%- endblock scripts_top %}
    {%- endblock head %}
  </head>
  <body class="{% block body_attribs %}{% endblock body_attribs %}">
    <div class="container d-flex flex-column pb-0 pt-3 h-100">
      {% block body -%}
      {% block navbar %}
      {%- endblock navbar %}
      {% block content -%}
      {%- endblock content %}
      {%- endblock body %}
      {% block footer -%}
      {%- endblock footer %}
    </div>
    {%- block styles %}
    <!-- Styles -->
    <!-- Main -->
    <link rel="stylesheet" href="/static/css/main.min.css" integrity="sha384-rWg9AemUwClBezW3setls4WiP4JwcqCsVKF++nbpNm8Glta2OBrF3aoI4OQCO0jD" crossorigin="anonymous"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {%- endblock styles %}

    {% block scripts %}
    <!-- Scripts -->
    <!-- Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" async defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" async></script>
    {%- endblock scripts %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}